<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLA Trunfo</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/styles/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  </head>
  <body>
    <div id="login" class="section active">
      <div class="login-content">
        <div class="logo"><img src="/assets/images/logo2.png" alt=""></div>
        <form id="formJoin" method="post">
          <h2>Digite seu nome abaixo</h2>
          <input type="text" name="username" id="username">
          <input type="submit" value="Entrar">
        </form>
      </div>
    </div>

    <div id="game" class="section">
      <div class="game-header">
        <div class="logo"><img src="/assets/images/logo2.png" alt=""></div>
        <div class="playername player1">
          <strong></strong> <span></span>
        </div>
        <div class="playername player2">
          <strong></strong> <span></span>
        </div>
      </div>

      <div id="gameover"></div>
      
      <div id="msg"></div>

      <div id="timer">5:00</div>

      <div class="board">
        <div class="board-content">
              <div class="cards" id="cards-player1">
                
                <div class="cardbg carddefault">

                  <div class="cardinactive carddefault"></div>
                  
                  <div class="cardactive carddefault cardoff">
                    <img src="https://imortaisdofutebol.files.wordpress.com/2012/04/zico3.jpg" alt="">
                    <ul>
                      <li>
                        <span class="key">Nome</span>
                        <span class="value" rel="nome"></span>
                      </li>
                      <li class="clickable">
                        <span class="key">Jogos</span>
                        <span class="value" rel="jogos"></span>
                      </li>
                      <li class="clickable">
                        <span class="key">Gols</span>
                        <span class="value" rel="gols"></span>
                      </li>
                      <li class="clickable">
                        <span class="key">Títulos</span>
                        <span class="value" rel="titulos"></span>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
              <div class="cards" id="cards-player2">
                <div class="cardbg carddefault">

                  <div class="cardinactive carddefault"></div>
                  
                  <div class="cardactive carddefault cardoff">
                    <img src="https://imortaisdofutebol.files.wordpress.com/2012/04/zico3.jpg" alt="">
                    <ul>
                      <li>
                        <span class="key">Nome</span>
                        <span class="value" rel="nome"></span>
                      </li>
                      <li class="clickable">
                        <span class="key">Jogos</span>
                        <span class="value" rel="jogos"></span>
                      </li>
                      <li class="clickable">
                        <span class="key">Gols</span>
                        <span class="value" rel="gols"></span>
                      </li>
                      <li class="clickable">
                        <span class="key">Títulos</span>
                        <span class="value" rel="titulos"></span>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/assets/scripts/main.js"></script>
  </body>
</html>
