<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLA Trunfo</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/styles/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  </head>
  <body>
    <script>
      // teste 1634062923506343
      // produ 1634055343507101

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1634055343507101',
          xfbml      : true,
          version    : 'v2.4'
        });

        function onLogin(response) {
          if (response.status == 'connected') {
            FB.api('/me?fields=first_name', function(data) {
              window.location="/game"
            });
          }
        }

        FB.getLoginStatus(function(response) {
          // Check login status on load, and if the user is
          // already logged in, go directly to the welcome message.
          if (response.status == 'connected') {
            onLogin(response);
          } else {
            // Otherwise, show Login dialog first.
            FB.login(function(response) {
              onLogin(response);
            }, {scope: 'user_friends, email'});
          }
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="login" class="section active">
      <div class="login-content">
        <div class="logo"><img src="/assets/images/logo2.png" alt=""></div>
        <div class="content">
          <fb:login-button scope="user_friends,email" onlogin="onLogin();" data-size="xlarge"></fb:login-button>
        </div>
      </div>
    </div>

    <a href="#comofunciona" class="help-link">Como funciona</a>
    <div class="overlay"></div>
    <div id="modal-help" class="modal">
      <div class="modal-close"><button></button></div>
      <div class="modal-header">Como funciona</div>
      <div class="modal-body">
        <strong>Objetivo:</strong>
        <br>Ficar com todas as cartas do baralho.
        <br><br>
        <strong>Preparação:</strong>
        <br>As cartas são distribuídas em número igual para cada um dos jogadores.
        <br>Cada jogador forma seu monte e só vê a primeira carta da pilha.
        <br>As cartas possuem informações sobre o jogador como: gols, jogos e títulos. É com estas informações que cada um vai jogar.
        <br><br>
        <strong>Como jogar:</strong>
        <br>Se você é o primeiro a jogar, escolha, entre as informações contidas em sua primeira carta, aquela que você julga ter o valor capaz de superar o valor da mesma informação que se encontra na carta que seus adversários têm em mãos. Por exemplo: você escolhe a informação jogos, então clique nela. O valor do mesmo atributo da carta adversária será comparado. Quem tiver o valor mais alto ganha as cartas e as coloca embaixo de sua pilha.
        <br>O próximo jogador será o que venceu a rodada anterior. Caso tenha empatado, cada jogador fica com sua carta. Assim prossegue o jogo até que um dos participantes fique com todas as cartas do baralho, vencendo a partida.

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $('.modal-close').click(function() {
        $('.overlay').hide();
        $(this).closest('.modal').removeClass('show')
      });

      $('.help-link').click(function() {
        $('.overlay').toggle();
        $('#modal-help').toggleClass('show');

        return false;
      });
    </script>
  </body>
</html>
