<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FLA Trunfo</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/styles/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png"/>
  </head>
  <body>
    <script>
      // This is called with the results from from FB.getLoginStatus().
      function statusChangeCallback(response) {
        // The response object is returned with a status field that lets the
        // app know the current login status of the person.
        // Full docs on the response object can be found in the documentation
        // for FB.getLoginStatus().
        if (response.status === 'connected') {
          // Logged into your app and Facebook.
          onLogin();
        } else if (response.status === 'not_authorized') {
          // The person is logged into Facebook, but not your app.
          
        } else {
          // The person is not logged into Facebook, so we're not sure if
          // they are logged into this app or not.
         
        }
      }

      // This function is called when someone finishes with the Login
      // Button.  See the onlogin handler attached to it in the sample
      // code below.
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }

      // teste 1634062923506343
      // produ 1634055343507101
      window.fbAsyncInit = function() {
      FB.init({
        appId      : '1634055343507101',
        cookie     : true,  // enable cookies to allow the server to access 
                            // the session
        xfbml      : true,  // parse social plugins on this page
        version    : 'v2.2' // use version 2.2
      });

      // Now that we've initialized the JavaScript SDK, we call 
      // FB.getLoginStatus().  This function gets the state of the
      // person visiting this page and can return one of three states to
      // the callback you provide.  They can be:
      //
      // 1. Logged into your app ('connected')
      // 2. Logged into Facebook, but not your app ('not_authorized')
      // 3. Not logged into Facebook and can't tell if they are logged into
      //    your app or not.
      //
      // These three cases are handled in the callback function.

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });

      };

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      // Here we run a very simple test of the Graph API after login is
      // successful.  See statusChangeCallback() for when this call is made.
      function onLogin() {
        FB.api('/me?fields=first_name', function(data) {
          window.location="/game"
        });
      }
    </script>
   
    <div id="login" class="section active">
      <div class="login-content">
        <div class="logo"><img src="/assets/images/logo2.png" alt=""></div>
        <div class="content">
          <fb:login-button scope="user_friends,email" onlogin="checkLoginState();" data-size="xlarge"> </fb:login-button>
        </div>
      </div>
    </div>

    <a href="#comofunciona" class="help-link">Como funciona</a>
    <div class="overlay"></div>
    <div id="modal-help" class="modal">
      <div class="modal-close"><button></button></div>
      <div class="modal-header">Como funciona</div>
      <div class="modal-body">
        <strong>Objetivo:</strong>
        <br>Ficar com todas as cartas do baralho.
        <br><br>
        <strong>Preparação:</strong>
        <br>As cartas são distribuídas em número igual para cada um dos jogadores.
        <br>Cada jogador forma seu monte e só vê a primeira carta da pilha.
        <br>As cartas possuem informações sobre o jogador como: gols, jogos e títulos. É com estas informações que cada um vai jogar.
        <br><br>
        <strong>Como jogar:</strong>
        <br>Se você é o primeiro a jogar, escolha, entre as informações contidas em sua primeira carta, aquela que você julga ter o valor capaz de superar o valor da mesma informação que se encontra na carta que seus adversários têm em mãos. Por exemplo: você escolhe a informação jogos, então clique nela. O valor do mesmo atributo da carta adversária será comparado. Quem tiver o valor mais alto ganha as cartas e as coloca embaixo de sua pilha.
        <br>O próximo jogador será o que venceu a rodada anterior. Caso tenha empatado, cada jogador fica com sua carta. Assim prossegue o jogo até que um dos participantes fique com todas as cartas do baralho, vencendo a partida.

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $('.modal-close').click(function() {
        $('.overlay').hide();
        $(this).closest('.modal').removeClass('show')
      });

      $('.help-link').click(function() {
        $('.overlay').toggle();
        $('#modal-help').toggleClass('show');

        return false;
      });
    </script>
  </body>
</html>
